@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .wrapper-container{
      @apply max-w-6xl mx-auto px-2
  }
}

body{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  color : rgb(243 244 246);
  overflow-x: hidden;
  overflow-y: hidden;
}

#preloader{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  font-weight: 700;
}

.text{
  color: transparent;
}
.text::before{
  content: attr(data-fill-text);
  position: absolute;
  width: 0;
  height: 100%;
  color: white;
  overflow: hidden;
  animation: animate 3.5s linear ;
}
@keyframes animate{
 0%{width: 0;

  }
 100%{width: 100%;

};
}


::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(156, 163, 175);
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes compression {
  0% {
    letter-spacing: 0.05em;
  }
  100% {
    letter-spacing: -0.05em; 
  }
}

.animate-compression {
  animation-name: compression;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

